@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Fira Sans", serif;
}

body {
  background-color: #f5f5f5;
}

/* banner-section */

.banner {
  margin: 80px auto;
  width: 1280px;
  height: 560px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner-subtitle {
  width: 622px;
  height: 29px;
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
}

.banner .banner-title {
  width: 622px;
  height: 201px;
  color: rgb(14, 14, 14);
  font-size: 56px;
  font-weight: 700;
  margin: 16px 0 24px 0;
}

.banner button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  width: 270px;
  height: 56px;
  border-radius: 8px;
  border: none;
  background: rgb(0, 106, 80);
}

.banner .banner-info {
  margin-right: 64px;
}

/* vision-section */

.vision {
  width: 1280px;
  /* height: 765px; */
  margin: 80px auto;
}

.vision > h2 {
  height: 48px;
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
}

.vision > p {
  height: 48px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}

.vision-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vcard1 {
  background-color: rgba(84, 144, 245, 0.2);
  width: 410px;
  height: 325px;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vcard-info .card-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
}

.vcard-info .card-des {
  width: 346px;
  height: 60px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}

/* vision-card-button */

.vcard-btn1-color {
  background: rgb(84, 144, 245);
}

.vcard-btn2-color {
  background: rgb(9, 161, 92);
}

.vcard-btn3-color {
  background: rgb(255, 194, 57);
}

.vcard-info button {
  width: 122px;
  height: 41px;
  border-radius: 8px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
}

.vcard2 {
  background-color: rgba(84, 144, 245, 0.2);
  width: 410px;
  height: 325px;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(198, 228, 214);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vcard3 {
  background-color: rgba(84, 144, 245, 0.2);
  width: 410px;
  height: 325px;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(247, 235, 207);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* quote-section */

.quote {
  margin: 30px auto 30px;
  width: 1280px;
  height: 256px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote .quote-info {
  background-image: url("../assets/quote-bg.png");
  background-position: top left;
  background-repeat: no-repeat;
  width: 1232px;
  height: 200px;
}

.quote-info .quote-des {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  margin-top: 26px;
}

.quote-info .quote-writer {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
}

.quote-info .writer-designation {
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-top: -10px;
}

/* news-section */

.news {
  margin: 80px auto;
  width: 1280px;
  height: 120px;
}

.news .news-title {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
}

.news .news-des {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}

.news .news-card {
  margin: 0 auto 30px;
  width: 1280px;
  height: 402px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.news .news-card-info {
  width: 1180px;
  height: 402px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.satellite .sat-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: -5px;
}

.satellite p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}

.satellite .read-more {
  width: 139px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
}

.news-card-info > img {
  border-radius: 24px;
  margin: 0 32px;
}
